<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    

<a href="/student/home">Home</a> |
<a href="/student/about">About</a> |
<a href="/student/courses">courses</a> |
<a href="/student/faculty">faculty</a> |
<a href="/student/contact">contact</a> |

<hr>

<h1>Welcome to about page </h1>

<h1>about this webside Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, odit soluta? Quo harum maxime laboriosam sit est? Voluptatibus animi, incidunt voluptas, dolore quos, laudantium neque odit nesciunt quisquam commodi molestiae!</h1>

</body>
</html>

