body{
    margin: 0;
    padding: 0;

}

.nav{
    background-color: rgb(212, 5, 5);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    margin-left: 10px;
}

.content{
    padding: 20px;
    /* background-color: #282828;
    color: white; */
    height: 100vh;

}

#delete{
    text-decoration: none;
    border: 4px solid black;
    border-radius: 5px;
    color: black;
    padding: 3px;


}