<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <div class="nav">
      <a href="/">Home</a>
      <a href="/insert">Insert</a>
      <a href="/display">Display</a>
      <a href="/update">Update</a>
      <a href="/search">Search</a>
      <a href="/about">About Us</a>
      <a href="/contact">Contact Us</a>
    </div>

<div class="content">

    <h1>about page</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit eveniet, ut
      ea alias, temporibus eum perferendis ipsum recusandae sequi architecto
      repellat in animi quo vero voluptates? Quasi, recusandae nisi! Quibusdam.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem commodi,
      doloribus facere quam necessitatibus neque quasi, expedita consequatur
      similique quidem delectus rerum possimus, ab unde sunt saepe beatae vel?
      Sunt!
    </p>
    </div>

  </body>
</html>
